.course{
    border: 1px solid purple;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    min-height: 150px;
}

.course-left{
    flex: 0.7;
}

.course-left-title{
    font-size: 1.5rem;
    font-weight: 600;
}

.course-left-text{
    margin-top: 10px;
}

.course-right{
    display: flex;
    flex: 0.25;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.course-right-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.course-right-block-authors{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; 
    overflow: hidden;
}
