.header{
    margin-top: 30px;
}
.navbar{
    border: 1px solid pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
    object-fit: contain;
    padding: 0 30px;
}

.navbar-right{
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 2%;
}