.btn{
    cursor: pointer;
    padding: 5px 22px;
    background: inherit;
    border: 1px solid purple;
    transition: 0.3s;
}

.btn:hover{
    color: white;
    background: purple;
}

.courseCard-btn{
    cursor: pointer;
    border: none;
    background: transparent;
}